@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* -----------------------------------home holder ----------------------- */

.home_holder::-webkit-scrollbar {
  width: 4px;
}

.home_holder::-webkit-scrollbar-track {
  background-color: transparent;
}
.home_holder::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.home_holder::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.stop_scrol::-webkit-scrollbar {
  width: 0px;
  display: none;
}


/* -----------------------------------search box --------------------- */

.search_box {
  -webkit-box-shadow: 0px 3px 25px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 3px 25px -6px rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 25px -6px rgba(255, 255, 255, 1);
}

/* -----------------------------------accordions------------------------ */

.accordion_title {
  background: rgba(79, 91, 103, 0.47);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 5px;
}

.accordion_title:hover {
  transition: all ease-in-out 0.15s;
  transform: scale(1.05);
  /* -webkit-box-shadow: 0px 7px 20px -8px rgba(133,133,133,1);
-moz-box-shadow: 0px 7px 20px -8px rgba(133,133,133,1);
box-shadow: 0px 7px 20px -8px rgba(133,133,133,1); */
}

.content {
  width: 100%;
  max-height: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  border-radius: 0 0 6px 6px;
  background: rgba(220, 220, 220, 0.1);
  margin-top: -1px;
  z-index: 1;
}
.content.showContent {
  width: 100%;
  height: auto;
  max-height: 9999px;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* --------------------------modal----------------------- */


.modal_style{
  width: 390px !important;
}